.s-banner{
	background-color: #5363db;
	background-size:cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	height: 600px;
}

.s-banner__content{
	display: flex;
	height: 100%;
}

%s-banner__content-items{
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 45px;
}

.s-banner__form-wrapper{
	align-items: flex-end;
	@extend %s-banner__content-items;
}

.s-banner__text-wrapper{
	@extend %s-banner__content-items;
}

.s-banner__form{
	width: 60.5%;
	padding: 40px 35px 35px 30px;
	background: #fff;
	border-radius: 20px;
	box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.15);
}

.s-banner__form-heading{
	font-size: 26px;
	line-height: 28px;
	color: #5363db;
	margin-bottom: 31px;
}

%input-select-style{
	width: 100%;
	background: #f2f2f2;
	font-family: $default-font;
	line-height: 16px;
	color: #888;
	padding: 18px 10px;
	margin-bottom: 17px;
	border-radius: 8px;
}

select{
	margin-bottom: 31px;
	@extend %input-select-style;
}

.s-banner__form-input{
	@extend %input-select-style;
	font-size: 14px;

	&::placeholder{
		color: #888;
		font-family: $default-font;
		font-size: 14px;
		font-weight: 400;
		line-height: 16px;
		opacity: 1;
		transition: opacity 0.3s ease;
	}

	&:focus::placeholder{
		opacity: 0;
		transition: opacity 0.3s ease;
	}
}

.s-banner__input-btn{
	float: right;
	font-size: 16px;
	line-height: 18px;
	font-weight: 700;
	padding: 17px 64px;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
	border-radius: 8px;
	background-color: #5b6ceb;
	color: #fff;
	cursor: pointer;
	transition: background .25s ease;

	&:hover{
		background: $hover-color-blue;
		transition: background .25s ease;
	}
}

.s-banner__main-heading{
	color: #fff;
	font-size: 48px;
	font-weight: 700;
	text-transform: uppercase;
}

.s-banner__slogan{
	font-family: "FreeStyleScriptRegular";
	font-size: 40px;
	color: #fff;
}

.s-program{
	padding-top: 112px;
}

h2{
	font-family: $default-font;
	color: $main-color;
	font-size: 30px;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
}

.s-program__classes{
	font-family: "FreeStyleScriptRegular";
	font-size: 41px;
	color: #777;
	text-align: center;
}

.s-program__item-wrapper{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding-top: 56px;
}

.s-program__item{
	width: 48.7%;
	box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
	background-color: #fff;
	margin-bottom: 24px;
}

.s-program__item-img{
	width: 47.5%;
	float: left;
	border-radius: 8px 0 0 8px;

}

.s-program__item-inner{
	width: 52.5%;
	float: left;
	padding: 35px 29px 32px 30px;
}

h4{
	font-size: 20px;
	font-weight: 700;
	line-height: 45px;
	margin-bottom: 16px;
	color: #777;
	text-transform: uppercase;
}

.s-program__description{
	color: #555;
	font-size: 14px;
	line-height: 22px;
	padding-right: 18px;
	margin-bottom: 7px;
}

.s-program__signature{
	color: #999;
	font-size: 14px;
}

.s-gallery__item{
	position: relative;
	display: block;
	width: 25%;
	float: left;

	&:before{
		content: "";
		display: block;
		width: 0;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		transition: width .5s ease;
	}

	&:after{
		content: "\f002";
		display: none;
		font-family: "FontAwesome";
		font-size: 25px;
		line-height: 27px;
		border-radius: 50%;
		padding: 15px 17px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background-color: #fff;
		box-shadow: 6px 6px 9px rgba(0, 0, 0, 0.1);
		cursor: pointer;
		z-index: 2;
	}

	&:hover{
		&:before{
			background-color: $main-color;
			width: 100%;
			opacity: .8;
			transition: width .5s ease;
			z-index: 1;
		}

		&:after{
			display: block;
		}

		img{
			filter: grayscale(100%);
		}
	}

	img{
		display: block;
		width: 100%;
	}
}

.s-about{
	padding: 125px 0 125px 0;
}

.s-about__item{
	width: 40%;
	float: left;
	padding-top: 12px;

	h2{
		text-align: left;
		margin-bottom: 14px;
	}

	p{
		line-height: 1.6;
	}
}

.s-about__slider{
	position: relative;
	width: 48.7%;
	float: right;
	border-radius: 8px;
	box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.15);

	.slick-arrow{
		position: absolute;
		text-indent: -99999px;
		top: 50%;
		width: 50px;
		height: 50px;
		transform: translateY(-50%);
		box-shadow: 6px 6px 9px rgba(0, 0, 0, 0.1);
		background-color: #fff;
		border-radius: 50%;
		cursor: pointer;
		z-index: 1;
		transition: all 0.3s ease;
	}

	.slick-prev{
		left: -25px;
	}

	.slick-next{
		right: -25px;
	}

	.slick-dots {
		position: absolute;
		left: 50%;
		bottom: -26px;
		transform: translate(-50%);
	}

	.slick-dots li {
		display: inline-block;
		margin: 0 5px;
	}

	.slick-dots li button {
		background-color: $hover-color-blue;
		opacity: .5;
		outline: none;
		border: none;
		text-indent: -9999px;
		border-radius: 50%;
		width: 12px;
		height: 12px;
		cursor: pointer;
	}

	.slick-dots .slick-active button {
		opacity: 1;
	}
}

.slick-list{
	border-radius: 8px;
}

.s-about__slider-img{
	display: block;
	width: 100%;
}

.s-features{
	position: relative;
	padding: 125px 0 77px 0;
	background-color: #5363db;
	background-size:cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	opacity: .8;

	&:after{
		content: "";
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		background-color: #5363db;
		opacity: .8;
		z-index: -1;
	}
}

.s-features__wrapper{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.s-features__inner{
	width: 23%;
	text-align: center;
	margin-bottom: 54px;

	h5{
		margin-bottom: 13px;
	}

	&:nth-child(5) h5{
		margin-bottom: 39px;
	}

	p{
		font-size: 16px;
		line-height: 1.7;
		color: #fff;
	}
}

h5{
	color: #fff;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
}

.s-features__ico{
	display: inline-block;
	margin-bottom: 27px;
}

// prices

.s-prices__wrapper{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 100px 0 106px 0;
}

.s-prices__item{
	width: 31.7%;
	box-shadow: 6px 6px 50px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	background-color: #fff;
	text-align: center;
}

.s-prices__price{
	font-size: 18px;
	font-weight: 700;
	line-height: 20px;
	padding: 40px 20px 41px;
	margin-bottom: 45px;
	background-color: $main-color;
	color: #fff;
	border-radius: 10px 10px 0 0;
	text-transform: uppercase;
	transition: all 0.3s ease;

	&-hover{
		background-color: $hover-color-blue;
		transition: all 0.3s ease;
	}

	.s-prices__value{
		display: inline-block;
		position: relative;
		font-size: 67px;
		line-height: 69px;
		padding-left: 72px;

		&:before{
			content: "$";
			font-size: 32px;
			line-height: 34px;
			display: inline-block;
			position: absolute;
			top: 50%;
			left: 36px;
			transform: translateY(-50%);
		}
	}
}

.s-prices__string{
	background-color: #fff;
	color: #555;
	font-size: 18px;
	line-height: 24px;
	padding: 0 72px 40px;
	text-transform: uppercase;
	text-align: left;
}

.s-prices__btn{
	display: inline-block;
	width: 46%;
	font-size: 18px;
	font-weight: 600;
	line-height: 20px;
	padding: 13px 0 17px 0;
	margin: 5px 0 52px;
	color: #fff;
	border-radius: 20px;
	background-color: $main-color;
	transition: all 0.3s ease;

	&:hover{
		background-color: $hover-color-blue;
		text-decoration: none;
		transition: all 0.3s ease;
	}
}