.s-footer__info{
	padding: 95px 0 104px;
	background-color: $main-color;
	line-height: 22px;

	h5{
		margin-bottom: 52px;
	}

	p{
		color: #fff;
	}

	a{
		color: #fff;
	}
}

.s-footer__info-wrapper{
	display: flex;
	justify-content: space-between;
	margin-bottom: 46px;
}

.s-footer__about{
	width: 40%;
}

.s-footer__contact{
	width: 48.6%;
}

%li-before{
	content: "";
	display: inline-block;
	background-position: 0 0;
	background-size: auto;
	background-repeat: no-repeat;
	position: absolute;
	top: 5px;
	left: 2px;
}

.s-footer__links-ul{
	column-count: 2;

	li{
		padding-left: 35px;
		position: relative;

		&:nth-child(1){
			margin-bottom: 22px;

			&:before{
				@extend %li-before;
				background-image: url(../img/map-marker.png);
				height: 21px;
				width: 15px;
			}
		}

		&:nth-child(2){

			&:before{
				@extend %li-before;
				background-image: url(../img/phone.png);
				height: 21px;
				width: 21px;
			}
		}

		&:nth-child(3){
			margin-bottom: 44px;
			margin-left: 10px;

			&:before{
				@extend %li-before;
				background-image: url(../img/mail.png);
				height: 13px;
				width: 21px;
			}
		}

		&:nth-child(4){
			margin-left: 10px;

			&:before{
				@extend %li-before;
				background-image: url(../img/planet.png);
				height: 21px;
				width: 21px;
			}
		}
	}
}

.s-footer__social-ul{

	li{
		display: inline-block;
		margin-right: 15px;
	}
}

.s-footer__copyright{
	background-color: #5363d8;

	p{
		font-size: 16px;
		line-height: 22px;
		padding: 39px 0;
		text-align: center;
		color: #b7bffc;

		span{
			margin: 0 8px;
		}
	}
}