.header{
	width: 100%;
	z-index: 5000;
	background: #fff;
	padding: 16px;
}

.nav__ul{
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 600;
}

.nav__item{
	margin: 0 15px;

}

.logo{
	display: inline-block;
	margin: 0 120px;
}

.h-scroll{
	position: fixed;
	left: 0;
}